<div class="container">
    <header class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" (click)="btnAgregar()" style="cursor: pointer" > Agregar</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted"><img src="../assets/img/logo_centro_8.png" alt=""></h3>
    </header>

    <main role="main">
      <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="abrirAgregar">
          <div class="card">
              <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="cerrar()"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-success"> Agregar Producto </h3>
              </div>
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <div class="col-lg-12">
                    <br>
                      <form #Form="ngForm">
                          <div class="form-group">
                            <label >Nombre</label>
                            <input type="text" class="form-control"  placeholder="Nombre" name="nombre" [(ngModel)]="producto.nombre" required>
                          </div>
                          <div class="form-group">
                              <label >Descripcion</label>
                              <input type="text" class="form-control"  placeholder="Descripcion"  name="descripcion" [(ngModel)]="producto.descripcion" required>
                          </div>
                          <div class="form-group">
                              <label >Sku</label>
                              <input type="text" class="form-control"  placeholder="Sku"  name="sku" [(ngModel)]="producto.sku" required>
                          </div>
                          <br>
                        </form> 
                        <div *ngIf="!abrirBtnEditar">
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="Form.form.invalid " (click)="add(producto)"> <i class="fa fa-floppy-o"></i> Agregar </button>
                        </div> 
                        <div *ngIf="abrirBtnEditar">
                            <button type="submit" class="btn btn-info btn-block" [disabled]="Form.form.invalid " (click)="btnEditar()"> <i class="fa fa-floppy-o"></i> Editar </button>
                        </div>                    
                        <br>
                        <button type="button" class="btn btn-sm btn-info pull-right" (click)="btnLimpiar()"> <i class="fa fa-refresh"></i> limpiar </button>
                        <br>
                  </div>
                </blockquote>
              </div>
            </div>
      </div>
      <div class="row marketing" *ngIf="productos.length === 0 ">
        <h5>No Posee Productos Registrados</h5>
      </div>

      <div class="row marketing" *ngIf="productos.length !== 0">
        <div class="col-lg-12">
            <table class="table">
                <tr>
                  <th style="width: 5%">#</th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Sku</th>
                  <th style="width: 5%" class="text-success"> <i class="fa fa-refresh"></i> </th>
                  <th style="width: 5%" class="text-danger"> <i class="fa fa-trash"></i></th>
                </tr>
                <tr *ngFor="let data of productos ; let i = index">
                  <td> {{ i + 1 }} </td>
                  <td> {{ data.nombre }}</td>
                  <td> {{ data.descripcion }}</td>
                  <td> {{ data.sku }} </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-success btn-block" (click)="edit(data)"> <i class="fa fa-refresh"></i> </button>
                  </td>
                  <td>
                      <button type="button" class="btn btn-sm btn-danger btn-block" (click)="delete(data)"> <i class="fa fa-trash"></i> </button>
                  </td>
                </tr>
              </table>
        </div>
      </div>

    </main>

    <footer class="footer">
      <p>&copy; Realizado por: Alfredo Echeverria <br>
         tlf: +507 60242632 <br>
         Correo: alfredo_e69@hotmail.com 
        </p>
    </footer>

  </div> <!-- /container -->